//must have

$article-color: black;
$h1-color: black;
$h2-color: black;
$h3-color: black;
$accent-1-color: blue;
$background-color: black;

$black: rgba(53, 53, 53, 1);
$transparent: rgba(255, 255, 255, 0);
$green: rgba(0, 228, 140, 1);
$red: rgba(228, 57, 53, 1);
$blue: rgba(65, 67, 149, 1);
$purple: rgba(145, 154, 226, 1);

$article_black: rgba(36, 41, 46, 1);
$d_purple: rgba(90, 93, 195, 1);
