
//-shit

.clearfix:after {
    content:'';
    display: table;
    width: 100%;
    clear: both;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    transition: all .2s;
}

*:active, *:focus {
	outline: none;
}

*::-moz-focus-inner {
	border: 0;
}

input[type=radio], input[type=checkbox] {
    display:none;
}



//-elements
img {
	width: 100%;
	max-width: 100%;
}

html {
	font-size: $font_size-global * 1px;
}

.fake-div {
	width: 100%;
	display: block;
}

.button	{
	cursor: pointer;
  border: none;
}

.button:hover {

}

//functions
