
html, body {
	    @include font('Neo Sans Pro', 500);
			overflow-x: hidden;
			width: 100vw;
      background: $black;

			a {
				text-decoration: none;
        cursor: pointer;
			}

			ul {
				margin: 0;
			}

			li {
				list-style: none;
			}
      p, h2, h3, h4  {
        color: $article-color;
      }
      p {
        @include FontLineSize(0.1, 0.1, 0.8, 14, 10);
        letter-spacing: 1px;
      }
      h2 {
        //font-size: 48px;
        text-transform: uppercase;
        @include FontLineSize(0.2, 0.2, 0.6, 48, 1);
				vertical-align: bottom;
      }

}
#first {

	.button {
		  position: relative;
		  color: $article-color;
		  text-decoration: none;
		  text-transform: uppercase;
		  background: $accent-1-color;
		  text-align: center;
			cursor: pointer;
	}
	.button {
		height: 50px;
		width: 185px;
		border-radius: 24px;
		font-weight: 600;
		text-transform: uppercase;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $green;
		color: $black;
		font-size: 12px;
	}
	.submit-message {
		position: fixed;
		right: 0;
		top: 0;
		padding: 20px 30px;
		@include FontLineSize(0.2, 0.2, 0.6, 18, 8);
		background: $blue;
		color: $black;
		z-index: 9999999;
		border-radius: 0 0 0 30px;
		transition: 0;
	}

	.container {
		padding-top: 30vh;
		padding-bottom: 50vh;
		height: 350vh;
	}

	a {
		position: relative;
		display: inline-block;
		height: 100px;
		padding: 10px 36px;
		margin: 10px 0;
		color: $black;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 18px;
		letter-spacing: 2px;
		border-radius: 40px;
		background: $green;
		width: 15vw;
		text-align: center;
	}

	.test {
		position: absolute;
		top: 900px;
		height: 600px;
		width: 600px;
		background-color: black;
	}

	.test2 {
		width: 150px;
		height: 100px;
		p {
			color: white;
			text-align: center;
		}
	}

}

#buttons {
	@include CONFIGURE-e-textbox-carcass(red, 2px, white, blue) {
		margin-bottom: RelativeUnits(100, 0.5);
	}

	@include CONFIGURE-e-button-regular($black, red, 10px) {
		@include width(200, 0.5);
		padding-bottom: RelativeUnits(50, 0.5);
		padding-top: RelativeUnits(50, 0.5);
	}
}

#constructions { @include CONFIGURE-c-MAIN-c(500) {
		.red {
			background-color: red;
			@include margin-padding(('p-t': (50 0.5), 'p-b': 50));
		}
		.green {
			background-color: green;
		}
	}
}

#mihail-test {
	height: 100vh;
	.mihail {
		display: flex;
		justify-content: center;
		align-items: center;
		background: blue;
		width: 200px;
		height: 100px;
		padding-left: 100px;
	}
}
.preloader-test {
	background: silver;
	color: black;
}
.mihail-droplist {
	flex-direction: column;
	width: 200px;
	//height: 1000px;
	.head, .item {
		padding: 20px;
		border: 1px solid black;
		background: white;
		text-align: center;
	}
	.head {
		background: rgb(64, 92, 171);
	}
}
